# Environment Variables
PORT=3000
ADMIN_EMAIL=jaesthetic.info@gmail.com

# Optional SMTP Mail Server Configuration (If you wish to send via Gmail App Password / SendGrid)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="TAPPY NFC Store" <no-reply@tapreview.ph>
